table, td {
    border: 1px solid black;
 }

table {
    border-spacing: 5 5px;
}

 td {
     height:70px;
     text-align: center;
     padding-right: 0px;
 }

 input[type=submit] {
    width: 40em;  
    height: 4em;
}

#submit_answers {
    background-color: #4CAF50; /* Green */
    color: white;
    font-size: 22px;
}